@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/MIS/onepcssgrid.css" rel="stylesheet" />
    <link href="~/Content/css/MIS/dbzHtmlPagination.css" rel="stylesheet" />
    <link href="~/Content/css/template.css" rel="stylesheet" />
    <link href="~/Content/css/templateext.css" rel="stylesheet" />
    <link href="~/Content/css/mainside.css" rel="stylesheet" />
    <link href="~/Scripts/JQueryEasyUI/themes/icon.css" rel="stylesheet" />
    <link href="~/Scripts/JQueryEasyUI/themes/gray/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-1.7.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/JQueryEasyUI/plugins/jquery.pagination.js"></script>
    <script src="~/Scripts/MIS/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.core.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.widget.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.effect.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.button.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.draggable.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.droppable.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.mouse.js"></script>
    <script src="~/Scripts/MIS/jquery.ui.sortable.js"></script>
    <script src="~/Scripts/MIS/dbzMISPortlets.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/DevelopersScripts/dbzValidationChecking.js"></script>
    <script src="~/Scripts/DevelopersScripts/dbzCustomizeEasyUIDataGrid.js"></script>
    <link href="~/Scripts/Toastr/toastr-responsive.css" rel="stylesheet" />
    <link href="~/Scripts/Toastr/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/Toastr/toastr.js"></script>
    <script src="~/Scripts/DatePicker/DateTimePicker.js"></script>
    <link href="~/Scripts/DatePicker/jquery.ui.datepicker.css" rel="stylesheet" />
    <link href="~/Scripts/DatePicker/DateTimePickerCss.css" rel="stylesheet" />
    @*<link href="~/Scripts/DatePicker/demos.css" rel="stylesheet" />*@
    <style type="text/css">
        .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
            @*background: none repeat scroll 0 0 #801255;
            *@margin-bottom: 5px;
            padding: 2px 0;
        }

        .col7 {
            width: 56.5%;
        }

        .ui-widget {
            font-size: 0.90em;
        }

        .contentDetails {
            padding-left: 2%;
            padding-top: 1%;
        }

        .ui-datepicker-trigger {
            background-image: url("../../Scripts/JQueryEasyUI/themes/gray/images/datebox_arrow.png" );
            background-repeat: no-repeat;
            border: none;
            width: 16px;
            height: 16px;
        }

        .contentDetails .divLeftPanel {
            text-align: left;
            float: left;
            width: 31%;
        }

        .contentDetails .divRightPanel {
            float: left;
            width: 60%;
        }

        .divLeftPanel {
        }

        .ui-datepicker-trigger {
            background-image: url("../../Scripts/JQueryEasyUI/themes/gray/images/datebox_arrow.png");
            background-repeat: no-repeat;
            border: none;
            width: 16px;
            height: 16px;
        }

        .custom-buttons {
            background-color: #E0E0E0;
            background: -webkit-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: -moz-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: -o-linear-gradient(top, #E0E0E0 0, #EFEFEF 100%);
            background: linear-gradient(to bottom, #E0E0E0 0, #EFEFEF 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF, endColorstr=#E0ECFF, GradientType=0);
            border-color: #BBBBBB;
            padding: 0px;
            position: relative;
            border-width: 1px;
            border-style: solid;
            min-width: 75px;
        }


            .custom-buttons:hover {
                background-color: #999999;
                background: -webkit-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: -moz-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: -o-linear-gradient(top, #999999 0, #ABABAB 100%);
                background: linear-gradient(to bottom, #999999 0, #ABABAB 100%);
                background-repeat: repeat-x;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#999999, endColorstr=#ABABAB, GradientType=0);
                border-color: #BBBBBB;
                padding: 0px;
                position: relative;
                border-width: 1px;
                border-style: solid;
                min-width: 75px;
                color: #FFFFFF;
            }



        .leftLevelDiv {
            width: 100%;
        }

        .colleft {
            padding: 2px;
            width: 25%;
            float: left;
        }

        .colleftlast {
            padding: 2px;
            width: 60%;
        }

        .colleftlasttd {
            padding: 2px;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        $(function () {

            //$("#txtNextPaymentDate").datepicker({
            //    changeMonth: true,
            //    changeYear: true,
            //    showWeek: true
            //});

            $("#btnFile").change(function () {
                readURL(this);
            });

            LoadExaminations();

            LoadInstitute();
            LoadBoard();
            LoadDepartment();
            LoadAdmissionDepartment();
           // LoadBatch();

            //$('#txtDiscount').keyup(function () {
            //    var admfee = $('#txtAdmissionFee').val();
            //    var discount = $('#txtDiscount').val();
            //    var vat = $('#txtVat').val();

            //    if (admfee == '')
            //        admfee = 0;
            //    if (discount == '')
            //        discount = 0;
            //    if (vat == '')
            //        vat = 0;

            //    $('#txtTotalAmount').val(admfee - discount + (admfee * vat / 100));
            //});
            //$('#txtVat').keyup(function () {
            //    var admfee = $('#txtAdmissionFee').val();
            //    var discount = $('#txtDiscount').val();
            //    var vat = $('#txtVat').val();

            //    if (admfee == '')
            //        admfee = 0;
            //    if (discount == '')
            //        discount = 0;
            //    if (vat == '')
            //        vat = 0;

            //    $('#txtTotalAmount').val(admfee - discount + (admfee * vat / 100));
            //});
            //$('#txtCollectedAmount').keyup(function () {
            //    var totalAmnt = $('#txtTotalAmount').val();
            //    var collectedAmnt = $('#txtCollectedAmount').val();
            //    if (totalAmnt == '')
            //        totalAmnt = 0;
            //    if (collectedAmnt == '')
            //        collectedAmnt = 0;

            //    $('#txtdueAmount').val(totalAmnt - collectedAmnt);
            //});

        });
        function LoadExaminations() {
            $.ajax({
                url: '/Common/LoadExam',
                async: true,
                success: function (result) {
                    var mySelect = $('#ddlExam');
                    mySelect.append(
                            $('<option></option>').val(0).html('---Select---')
                        );
                    $.each(result, function (val, text) {
                        mySelect.append(
                            $('<option></option>').val(text.val).html(text.text)
                        );
                    });
                },
                error: function (result, textStatus, jqXHR) {

                }
            });
        }
        function LoadInstitute() {
            $.ajax({
                url: '/Common/LoadInstitute',
                async: true,
                success: function (result) {
                    var mySelect = $('#ddlInstitute');
                    mySelect.append(
                            $('<option></option>').val(0).html('---Select---')
                        );
                    $.each(result, function (val, text) {
                        mySelect.append(
                            $('<option></option>').val(text.val).html(text.text)
                        );
                    });
                },
                error: function (result, textStatus, jqXHR) {

                }
            });
        }
        function LoadBoard() {
            $.ajax({
                url: '/Common/LoadBoard',
                async: true,
                success: function (result) {
                    var mySelect = $('#ddlBoard');
                    mySelect.append(
                            $('<option></option>').val(0).html('---Select---')
                        );
                    $.each(result, function (val, text) {
                        mySelect.append(
                            $('<option></option>').val(text.val).html(text.text)
                        );
                    });
                },
                error: function (result, textStatus, jqXHR) {

                }
            });
        }

        function LoadDepartment() {
            $.ajax({
                url: '/Common/LoadDepartment',
                async: true,
                success: function (result) {
                    var mySelect = $('#ddlDept');
                    mySelect.append(
                            $('<option></option>').val(0).html('---Select---')
                        );
                    $.each(result, function (val, text) {
                        mySelect.append(
                            $('<option></option>').val(text.val).html(text.text)
                        );
                    });
                },
                error: function (result, textStatus, jqXHR) {

                }
            });
        }
        function LoadAdmissionDepartment() {
            $.ajax({
                url: '/Common/LoadDepartment',
                async: true,
                success: function (result) {
                    var mySelect = $('#ddlAdmissionDept');
                    mySelect.append(
                            $('<option></option>').val(0).html('---Select---')
                        );
                    $.each(result, function (val, text) {
                        mySelect.append(
                            $('<option></option>').val(text.val).html(text.text)
                        );
                    });
                },
                error: function (result, textStatus, jqXHR) {

                }
            });
        }

        //function LoadBatch() {
        //    $.ajax({
        //        url: '/Student/LoadBatch',
        //        async: true,
        //        success: function (result) {
        //            var mySelect = $('#ddlBatch');
        //            mySelect.append(
        //                    $('<option></option>').val(0).html('---Select---')
        //                );
        //            $.each(result, function (val, text) {
        //                mySelect.append(
        //                    $('<option></option>').val(text.val).html(text.text)
        //                );
        //            });
        //        },
        //        error: function (result, textStatus, jqXHR) {

        //        }
        //    });
        //}

        function Save() {
            var proFilePic = $('#imgbox').get(0);
            var filesSelected = document.getElementById("imgbox").files;
            //alert(profilePic);

            var name = $('#txtName').val();
            var fatherName = $('#txtFatherName').val();
            var motherName = $('#txtMotherName').val();
            var presentAddress = $('#txtPresentAddress').val();
            var parmanentAddress = $('#txtParmanentAddress').val();
            var mobileNo = $('#txtStudentMobileNo').val();
            var email = $('#txtEmail').val();
            var bloodGroup = $('#txtBloodgroup').val();
            var deptId = $('#ddlAdmissionDept').val();
            
            var remarks = $('#txtRemarks').val();


            var generalInfo = {
                TeacherName: name,
                FatherName: fatherName,
                MotherName: motherName,
                PresentAddress: presentAddress,
                ParmanentAddress: parmanentAddress,
                TeacherMobile: mobileNo,
                Email: email,
                BloodGroup: bloodGroup,
                DepartmentId: deptId,
                Remarks: remarks
            };



            $.ajax({
                url: '/Teacher/Save',
                type: 'post',
                data: JSON.stringify({ GeneralInfo: generalInfo, certificatesVms: ceritificateList }),
                dataType: 'json',
                async: true,
                contentType: 'application/json',
                success: function (result) {

                    var data = new FormData();
                    data.append("MyImages", profilePic);
                    $.ajax({
                        url: '/Teacher/SaveProfileImage',
                        data: data,
                        type: 'POST',
                        processData: false,
                        contentType: false,
                        success: function (result) {

                        }
                    });

                    toastr.success('Successfully Saved');
                }
            });





        }
        function isNumber(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode != 46 && charCode > 31
              && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        var profilePic;
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgbox').attr('src', e.target.result);
                }
                profilePic = input.files[0];
                reader.readAsDataURL(input.files[0]);
            }
        }

        var ceritificateList = [];

        function Add() {

            var examId = $('#ddlExam').val();
            if (examId == 0) {
                toastr.warning("Select A Examination");
                return;
            }
            var examName = $('#ddlExam :selected').text();
            var boardId = $('#ddlBoard').val();
            if (boardId == 0) {
                toastr.warning("Select A Board");
                return;
            }
            var boardName = $('#ddlBoard :selected').text();
            var sesId = $('#ddlSession').val();
            if (sesId == 0) {
                toastr.warning("Select A Year");
                return;
            }
            var sessYear = $('#ddlSession :selected').text();
            var deptId = $('#ddlDept').val();
            if (deptId == 0) {
                toastr.warning("Select A Department");
                return;
            }
            var deptName = $('#ddlDept :selected').text();
            var insId = $('#ddlInstitute').val();
            if (insId == 0) {
                toastr.warning("Select A Institute");
                return;
            }
            var intName = $('#ddlInstitute :selected').text();
            var result = $('#txtResult').val();

            if (result == '') {
                toastr.warning("Give your result");
                return;
            }

            var ceritificate = [];

            ceritificate.push({
                ExamId: examId,
                ExamName: examName,
                BoardId: boardId,
                BoardName: boardName,
                YearId: sesId,
                YearName: sessYear,
                DeptId: deptId,
                DeptName: deptName,
                InstId: insId,
                InstName: intName,
                Result: result,
                Delete: "<div class = 'btnDelete'  title = 'Delete' onclick='DeleteCertificate(" + examId + ")'>Delete</div>"
            });

            var chck = 0;
            if (ceritificateList.length > 0) {
                $.grep(ceritificateList, function (item) {
                    if (item.ExamId == examId) {
                        toastr.warning('Already Added');
                        chck = 1;
                    }
                });
            }

            if (chck == 0) {
                ceritificateList.push(ceritificate[0]);
            }

            $('#tblCertificates').datagrid('loadData', ceritificateList);

        }


    </script>

</head>
<body>

    <div style="padding: 0px; width: 100%;overflow: visible">
        <div class="onerow">

            <div class="col8">
                <h1 style="color: darkgreen">New Teacher </h1> <br />Teacher Id:<label>AutoId</label>
            </div>
            <div class="col2">
                Photo:

                <img src="~/Content/images/gantchart.jpg" id="imgbox" width="40" height="40" />

                <input type="file" id="btnFile" />
            </div>
        </div>

        <div class="onerow">
            <div class="col2">
                First Name:
            </div>
            <div class="col3">
                <input id="txtTeacherName" type="text" />
            </div>
            @*<div class="col3">Last Name</div>
            <div class="col3">
                <input id="stdNameEng" type="text" />
            </div>*@
        </div>
        <div class="onerow">
            <div class="col2">Father Name</div>
            <div class="col3">
                <input id="txtFatherName" type="text" />
            </div>
            <div class="col3">Mother Name</div>
            <div class="col3">
                <input id="txtMotherName" type="text" />
            </div>
        </div>
       
        <div class="onerow">
            <div class="col2">Present Address</div>
            <div class="col3">
                <textarea id="txtPresentAddress"></textarea>

            </div>
            <div class="col3">Parmanent Address</div>
            <div class="col3">
                <textarea id="txtParmanentAddress"></textarea>
            </div>
        </div>
        @*<div class="onerow">
            <div class="col2">অবিভাবকের মোবাইল নং</div>
            <div class="col3">
                <input id="txtGurdianMobileNo" onkeypress="return isNumber(event)" type="text" />
            </div>
            <div class="col3">শিক্ষার্থীর মোবাইল নং</div>
            <div class="col3">
                <input id="txtStudentMobileNo" type="text" onkeypress="return isNumber(event)" />
            </div>
        </div>*@
        <div class="onerow">
            <div class="col2">E-Mail</div>
            <div class="col3">
                <input id="txtEmail" type="text" />
            </div>
            <div class="col3">Blood Group</div>
            <div class="col3">
                <input id="txtBloodgroup" type="text" />
            </div>
        </div>
        <div class="onerow">
            <div class="col2">Department</div>
            <div class="col3">
                <select id="ddlAdmissionDept" style="width: 95%; padding: 5px;"></select>
            </div>
            <div class="col3"></div>
            <div class="col3">
                @*<select id="ddlBatch" style="width: 95%; padding: 5px;"></select>*@
            </div>
        </div>
        <div class="onerow">
            <div style="width: 20%; text-align: center; float: left">Examination</div>
            <div style="width: 15%; text-align: center; float: left">Board</div>
            <div style="width: 10%; text-align: center; float: left">Year</div>
            <div style="width: 10%; text-align: center; float: left">Mejor </div>
            <div style="width: 20%; text-align: center; float: left">Institute</div>
            <div style="width: 10%; text-align: center; float: left">Result</div>

        </div>
        <div class="onerow">
            <div style="width: 20%; float: left; ">
                <select id="ddlExam" style="width: 95%; padding: 5px;"></select>
            </div>
            <div style="width: 15%; float: left; ">
                <select id="ddlBoard" style="width: 95%; padding: 5px;"></select>
            </div>
            <div style="width: 10%; float: left; ">
                <select id="ddlSession" style="width: 95%; padding: 5px;">
                    <option value="0">--Select--</option>
                    <option value="1">2000</option>
                    <option value="2">2001</option>
                    <option value="3">2002</option>
                    <option value="4">2003</option>
                    <option value="5">2004</option>
                    <option value="6">2005</option>
                    <option value="7">2006</option>
                    <option value="8">2007</option>
                    <option value="9">2008</option>
                    <option value="10">2009</option>
                    <option value="11">2010</option>
                    <option value="12">2011</option>
                    <option value="13">2012</option>
                    <option value="14">2013</option>
                    <option value="15">2014</option>
                    <option value="16">2015</option>
                    <option value="17">2016</option>
                </select>
            </div>
            <div style="width: 10%; float: left; ">
                <select id="ddlDept" style="width: 95%; padding: 5px;"></select>
            </div>
            <div style="width: 20%; float: left; ">
                <select id="ddlInstitute" style="width: 95%; padding: 5px;"></select>
            </div>
            <div style="width: 15%; float: left;">
                <input type="text" style="width: 70%; text-align: right; padding: 5px; " onkeypress="return isNumber(event)" id="txtResult" />
            </div>
            <div style="width: 10%; float: left">
                <input class="br-buttons" type="button" value="Add" onclick="Add()" />
            </div>
            <br />
        </div>
        <div class="onerow">
            <br />
            <table id="tblCertificates" class="easyui-datagrid" toolbar="#toolbar" autorowheight="true"
                   fitcolumns="true"
                   singleselect="true"
                   @*url="@Url.Action("LoadData")"*@
                   rownumbers="false"
                   pagination="true"
                   pagesize="10">
                <thead>
                    <tr>
                        <th field="ExamId" hidden="true"></th>
                        <th field="BoardId" hidden="true"></th>
                        <th field="YearId" hidden="true"></th>
                        <th field="DeptId" hidden="true"></th>
                        <th field="InstId" hidden="true"></th>

                        <th field="ExamName" width="140" sortable="true">Examination</th>
                        <th field="BoardName" width="90" sortable="true">Board</th>
                        <th field="YearName" width="100" sortable="true">Session</th>
                        <th field="DeptName" width="100" sortable="true">Department</th>
                        <th field="InstName" width="150" sortable="true">Institute</th>
                        <th field="Result" width="140" sortable="true">Result</th>
                        <th field="Delete"></th>
                    </tr>
                </thead>
            </table>

        </div>
        <div class="onerow">
            <br />
        </div>
        @*<div class="onerow">
            <div class="col2">ভর্তি ফি</div>
            <div class="col3">
                <input id="txtAdmissionFee" onkeypress="return isNumber(event)" type="text" />
            </div>
            <div class="col3">ভ্যাট</div>
            <div class="col3">
                <input id="txtVat" onkeypress="return isNumber(event)" type="text" />
            </div>
        </div>
        <div class="onerow">
            <div class="col2">কমিশন </div>
            <div class="col3">
                <input id="txtDiscount" onkeypress="return isNumber(event)" type="text" />TK.
            </div>
            <div class="col3">মোট টাকা</div>
            <div class="col3">
                <input id="txtTotalAmount" onkeypress="return isNumber(event)" type="text" />
            </div>
        </div>
        <div class="onerow">
            <div class="col2">আদায় </div>
            <div class="col3">
                <input id="txtCollectedAmount" onkeypress="return isNumber(event)" type="text" />
            </div>
            <div class="col3">বকেয়া</div>
            <div class="col3">
                <input id="txtdueAmount" onkeypress="return isNumber(event)" type="text" />
            </div>
        </div>*@
        <div class="onerow">
            <div class="col2">Remarks </div>
            <div class="col3">
                <textarea id="txtRemarks"></textarea>
            </div>
            @*<div class="col3">পরবর্তী পরিশোধের তারিখ </div>
            <div class="col3">
                <input id="txtNextPaymentDate" type="text" />
            </div>*@
        </div>
        <div class="onerow" style="align-content: center">
            <br />
            <br />
            <input id="btnSave" type="button" class="br-buttons" value="Save" onclick="Save()" />
        </div>
    </div>
</body>
</html>
